.carousel{
	position: relative;
	width: 90%;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
  background: #F5F5F5;
  webkit-animation-play-state: inherit;
  animation-play-state: inherit; 
}
.carousel__card{
	position: absolute;
	width: 15%;
	height: 95%;
	bottom: 20px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0px 65px 60px -28px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 65px 60px -28px rgba(0,0,0,0.51);
	box-shadow: 0px 65px 60px -28px rgba(0,0,0,0.51);
  z-index: 5;

	-webkit-animation-duration: 18s;
  animation-duration: 18s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear; 
	animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite;
  webkit-animation-play-state: inherit;
	animation-play-state: inherit; 
}

.card__title{
	font-size: 1.5em;
}
.card__img_wrap{
	padding-top: 20%;
}
.card__img{
	max-width: 100%;
	border-radius: 25px;
	display: inline-block;
}
.card__descr{
	color: gray;
}

.stopAnimate{
  webkit-animation-play-state: paused;
  animation-play-state: paused; 
}

@keyframes cardPosition_1 {
    0% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    visibility: visible;
  }

  14.3% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

  28.6% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

  42.9% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

  57.2% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  71.5% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  85.8% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 0;
  }

  100% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 0;
  }
}

@keyframes cardPosition_2 {
  0% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
    visibility: visible;
  }

  14.3% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

  28.6% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

  42.9% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  57.2% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  71.5%  {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 0;
  }

  85.8% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 0;
  }

  100% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

}

@keyframes cardPosition_3 {
  0% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
    visibility: visible;
  }

  14.3% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

  28.6% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  42.9% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  57.2% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 0;
  }

  71.5% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 0;
  }

  85.8%  {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

  100% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

}

@keyframes cardPosition_4 {

  0% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
    visibility: visible;
  }

  14.3% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  28.6% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  42.9% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 0;
  }

  57.2% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 0;
  }

  71.5% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

  85.8%  {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

  100% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

}

@keyframes cardPosition_5 {

  0% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  14.3% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  28.6% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 0;
  }

  42.9% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 0;
  }

  57.2% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

  71.5% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

  85.8% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

  100% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

}

@keyframes cardPosition_6 {

  0% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  14.3% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 0;
  }

  28.6% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 0;
  }

  42.9% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

  57.2% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

  71.5% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

  85.8% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  100% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }
  
}

@keyframes cardPosition_7 {

  0% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
    z-index: 2;
  }

  14.3% {
    -webkit-transform: translate(0,20%) scale(0.6);
    transform: translate(0,20%) scale(0.6);
    z-index: 2;
  }

  28.6% {
    -webkit-transform: translate(80%,10%) scale(0.8);
    transform: translate(80%,10%) scale(0.8);
  }

  42.9% {
    -webkit-transform: translate(180%);
    transform: translate(180%);
  }

  57.2% {
    -webkit-transform: translate(285%);
    transform: translate(285%);
  }

  71.5% {
    -webkit-transform: translate(390%);
    transform: translate(390%);
  }

  85.8% {
    -webkit-transform: translate(490%,10%) scale(0.8);
    transform: translate(490%,10%) scale(0.8);
  }

  100% {
    -webkit-transform: translate(570%,20%) scale(0.6);
    transform: translate(570%,20%) scale(0.6);
  }

}

.card__position-1{
	-webkit-animation-name: cardPosition_1;
  animation-name: cardPosition_1;
}

.card__position-2{
	-webkit-animation-name: cardPosition_2;
  animation-name: cardPosition_2;
}


.card__position-3{
	-webkit-animation-name: cardPosition_3;
  animation-name: cardPosition_3;
}

.card__position-4{
	-webkit-animation-name: cardPosition_4;
  animation-name: cardPosition_4;
}

.card__position-5{
	-webkit-animation-name: cardPosition_5;
  animation-name: cardPosition_5;
}

.card__position-6{
	-webkit-animation-name: cardPosition_6;
  animation-name: cardPosition_6;
}

.card__position-7{
	-webkit-animation-name: cardPosition_7;
  animation-name: cardPosition_7;
}
