<div class="carousel">
	<div class="carousel__card card__position-{{$index + 1}}" 
			 ng-repeat="card in cards track by $index" ng-style='card.color' ng-click='action({card:card})'>

		<div class="card__img_wrap">
			<img ng-src="{{card.image}}" alt="" class="card__img">
		</div>
		<h1 class="card__title">
			{{card.name}}
		</h1>
		<div class="card__descr">
			<p class="card__descr__text">
				{{card.text}}
			</p>
		</div>
	</div>
</div>